body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}
.content {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
/* Navigation Section */
.top-navigation {
	width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    text-align: left;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500; 
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   	height: 45.938rem;
   	padding-top: 100px;
}
/* Appearance Rules */
h1 {font-family: 'Montserrat', sans-serif;
  	font-size: 3em;
  	font-weight: bold;
    color: #ffffff;
}
h2 {font-family: 'Montserrat', sans-serif;
  	font-size: 1.5em;
  	color: #ffffff;
}
h3 {font-family: 'Montserrat', sans-serif;
  	font-size: 2em;
  	color: #000000;
}
button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
}
.cases .devices {
    width: 25%;
    display: inline-block;
    /* styles to assist with debugging */
    border: 1px orange;
    box-sizing: border-box;
    height: 4em;
}
